<html>
    <head>
        <title>Sign Uo</title>
    </head>
    <body>
        <form method="POST" action="">
            <label for='username'>Username</label>
            <input type='text' placeholder='Please enter your username' name='username' required />
            <label for='password'>Password</label>
            <input type='password' placeholder='Please enter your password' name='password' required />
            <button type='submit'>Submit</button>
        </form>
    </body>
</html>